:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  background: #212121;
  color: #f5f5f5;
  font-family: sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.container {
  display: flex;
  // justify-content: center;
}

.preview {
  background: #262626;
  padding: 1rem;
  width: 50vh;
  max-width: 60ch;
}

textarea {
  display: block;
  min-width: 50vh;
}

code {
  background: #000;
  color: aqua;
}

.submit-button {
  margin: 1rem 0 0 0;
  width: 100%;
}

.sidebar__li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 0.5rem;
}

.sidebar__li:hover {
  cursor: pointer;
  background: #313131;
}
